---
const { title = "undefined" } = Astro.props;
---

<div class="w-full mb-8 p-4 relative bg-base-100 shadow-xl rounded-xl">
  <div class="px-4 mb-4">
    <div class="badge badge-xl border-0 no-animation w-full h-full font-bold text-base">
      {title}
    </div>
  </div>
  <slot />
</div>
